.navbar {
  background-color:blue;
  color: white;
  margin: 20px;
  padding: 20px;
}
/* .content {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
  text-align: center;
  
} */

.container {
  background-color:white;
  margin: 20px;
  padding: 20px;
}
/* .bottom {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
} */

.footer{
  position: fixed;
  left: o;
  bottom: 0;
  line-height: 5opx;
  padding: 30px;
  width: 100%;
  background-color:chartreuse;
  color:black;
  text-align: center;
  margin-bottom: 10px;
}
